@using Modas.Models
@using Modas.Models.ViewModels
@model EventListViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MODAS</title>
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/client.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <table class="table table-sm table-striped table-shadow">
            <thead class="bg-success text-white">
                <tr><th class="text-center">Flag</th><th>Date</th><th>Time</th><th>Location</th></tr>
            </thead>
            <tbody>
                @foreach (var e in Model.Events)
                {
                    <tr>
                        <td class="text-center">
                            <i data-id="@e.EventId" data-checked="@e.Flagged.ToString().ToLower()" class="@(e.Flagged ? "fas" : "far") fa-flag fa-lg flag"></i>
                        </td>
                        <td>@String.Format("{0: ddd, MMM dd, yyyy}", e.TimeStamp)</td>
                        <td>@String.Format("{0:hh:mm tt}", e.TimeStamp)</td>
                        <td>@e.Location.Name</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row mb-3">
            <div class="col">
                <button disabled id="first" class="btn btn-outline-secondary" type="button" data-page="1"><i class="fas fa-angle-double-left"></i><span class="d-none d-md-inline"> First</span></button>
                <button disabled id="prev" class="btn btn-outline-secondary" type="button" data-page="@(Model.PagingInfo.PreviousPage)"><i class="fas fa-angle-left"></i><span class="d-none d-md-inline"> Prev</span></button>
            </div>
            <div class="col text-center text-secondary">
                <span id="start">@(Model.PagingInfo.RangeStart)</span>-<span id="end">@(Model.PagingInfo.RangeEnd)</span>
                of
                <span id="total">@(Model.PagingInfo.TotalItems)</span>
            </div>
            <div class="col text-right">
                <button disabled id="next" class="btn btn-outline-secondary" type="button" data-page="@(Model.PagingInfo.NextPage)"><span class="d-none d-md-inline">Next </span><i class="fas fa-angle-right"></i></button>
                <button disabled id="last" class="btn btn-outline-secondary" data-page="@(Model.PagingInfo.TotalPages)"><span class="d-none d-md-inline">Last </span><i class="fas fa-angle-double-right"></i></button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            initButtons();
            $('.flag').on('click', function () {
                // TODO: AJAX to update database
                if ($(this).data('checked')) {
                    $(this).data('checked', false);
                    $(this).removeClass('fas').addClass('far');
                } else {
                    $(this).data('checked', true);
                    $(this).removeClass('far').addClass('fas');
                }
            });
            // event listeners for first/next/prev/last buttons
            $('#next, #prev, #first, #last').on('click', function () {
                location.href = "page" + $(this).data('page');
            });
            function initButtons() {
                // disable prev/first buttons when on first page
                $('#first, #prev').prop('disabled', $('#start').html() == "1");
                // disable next/last buttons when on last page
                $('#last, #next').prop('disabled', $('#end').html() == $('#total').html());
            }
        });
    </script>
</body>
</html>